<div class="row justify-content-center bg-white mx-4">
  <%= form_with(model: @user, local: true, url: users_path, :method => "post", class: "form col-sm-6 ") do |f| %>
    <h3 class="text-center text-info">Sign up</h3>
    <%= render "error", user: @user %>

    <div class="form-group">
      <%= f.label :first_name,"First Name", class: "text-info my-3" %><br />
      <%= f.text_field :first_name, autofocus: true, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, 'Last Name', class: "text-info my-3" %><br />
      <%= f.text_field :last_name, autofocus: true,class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "text-info my-3" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
    </div>
      <%= f.label :image, class: "text-info my-3" %><br />
      <%= f.file_field :image, direct_upload: true %>
    <div class="form-group">
      <%= f.label :user_name,"User Name", class: "text-info my-3" %><br />
      <%= f.text_field :user_name, autofocus: true, class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "text-info my-3" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: "text-info my-3" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
    </div>
    <%= f.submit "Sign up", class: "btn btn-info btn-md my-3" %>
  <% end %>
</div>
