<h2>Hello Mr.<%= @user[:first_name] %>,</h2>
<br>
<p> Your account have been successfully created.</p>
<p> Email: <b><%= @user[:email] %></b></p>
<p> Passwd: <b><%= @user[:password] %></b></p>
<p><%= link_to 'Visit for login', root_url %> </p>
<%= link_to 'Visit for login', root_url %>
<br>
<p> Thank You</p>