<%= form_with(model: @request, local: true, url: phase_requests_path(@phase.id), :method => "post", class: "form col-sm-6 ") do |f| %>
  <h3 class="text-center text-info">Send Request to add manager</h3>
  <%= f.label :user_id,'Engineer Name', class: "text-info my-1" %>
  <%= f.select :user_id,manager_dropdown_option,{include_blank: 'Select Manager'}, required: true, class: "form-control" %>
  <%= f.label :description, class: "text-info my-1" %>
  <%= f.text_area :description, class: "form-control", required: true  %>
  <%= f.submit  "Submit", class: "btn btn-info btn-md"  %>
<% end %>