<div class="justify-content-center bg-white mx-4">
  <h3 class="text-center text-info">Show Phase</h3>
  <div class="mx-4">
    <p>
      <strong>Phase Name:</strong>
      <%= @phase.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @phase.description %>
    </p>
    <p>
      <strong>type:</strong>
      <%= @phase.phaseType %>
    </p>
    <p>
      <strong>Status:</strong>
      <%= @phase.status %>
    </p>
    <p>
      <strong>Start date:</strong>
      <%= @phase.start_date %>
    </p>
    <p>
      <strong>Due Date:</strong>
      <%= @phase.due_date %>
    </p>
    <%=edit_button(@phase)%>
    <%=phase_back_button(@phase)%>  
  </div>
  <div class="row">
    <div class="col-md-8 mx-4 py-2">
        <%= form_with model: @comment, local: true, url: phase_comments_path(@phase.id) , class: "form " do |f| %>
          <h2>Add Comment</h2>
          <textarea tabindex="29" required rows="4" id="text" name="text" class="form-control border"></textarea>
          <%= f.submit  "'Post comment'", class: "btn btn-info btn-md"  %>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-4 py-2">
      <div class="p-2" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1">
        <span>Show Comments</span><i class="fa fa-chevron-down servicedrop"></i>
      </div>
      <div id="collapse-1" class="collapse">
        <% @phase.comments.each do |comment|%>
          <div class="border mt-2 p-2">
            <h5 class="mr-2">Comment By :<b> <%=comment.user.user_name%></b> on date : <%=comment.created_at%> </h5>
            <span><%= comment.text%></span><br>
            <%= link_to 'Destroy', phase_comment_path(@phase.id, comment.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

